*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contaiber-sliders{
    width: 100%;
    height: 500px;
    border: solid 5px black;
    box-shadow: 10px 0px 25px #ccc;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slide{
    transition: 0.8s;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.btn-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px black;
}
.btn-container button{
    width: 25%;
    height: 100%;
    background: none;
    border: none;
}
.btn-container button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}